version: "3.1"
services:
  redis:
    image: "redis:6.0.5"
    restart: always
    container_name: "redis"
    ports:
      - 6379:6379
    volumes:
      - ./data:/data
    command: ["redis-server", "--requirepass", "123456"]
